{% extends 'base.html' %}
{% load static %}
{% block title %}茵悦薈{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'adminlet-2.4.10/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock %}

{% block breadcrumb %}
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        主頁
      </h1>
      <ol class="breadcrumb">
        <li class="active"><i class="fa fa-home"></i> 主頁</li>
      </ol>
    </section>
{% endblock %}

{% block content %}
<section class="content">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">請用</h3>
    </div>
    <div class="box-body">
      <table id="indexTable" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>想玩啥</th>
              <th>下載</th>
              <th>更新檔</th>
            </tr>
          </thead>
          </tbody>
            <tr>
              <th>AI少女: BetterRepack R1.1</th>
              <th>
                <a href="https://drive.google.com/open?id=1ElolZQN7NAeFt_SWOPyT8iZHCqHAM-rj" class="btn btn-primary"><i class="fa fa-google"></i></a>
                <a href="magnet:?xt=urn:btih:4b8d3ebd563877198c3d05055e51bda2a3073fd9&dn=%5BScrewThisNoise%5D%20AI-Shoujo%20%2F%20AI-Girl%20%28%EF%BC%A1%EF%BC%A9%2A%E5%B0%91%E5%A5%B3%29%20BetterRepack%20R1.1&tr=http%3A%2F%2Fsukebei.tracker.wf%3A8888%2Fannounce&tr=udp%3A%2F%2Fopen.stealth.si%3A80%2Fannounce&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337%2Fannounce&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969%2Fannounce&tr=udp%3A%2F%2Fexodus.desync.com%3A6969%2Fannounce" class="btn btn-primary"><i class="fa fa-magnet"></i></a>
              </th>
              <th>
                <div class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">選擇版本 <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li>
                      <a href="https://drive.google.com/open?id=1o63vj0k_qUj1Am4Uy0H9deRhkVSrht3D">R1.1 <i class="fa fa-arrow-right"></i>R1.2 <i class="fa fa-google"></i></a>
                    </li>
                  </ul>
                </div>
                
              </th>
              
            <tr>
              <th>戀愛活動: BetterRepack R9.3</th>
              <th>
                <a href="https://drive.google.com/open?id=1S1hPwXR7Z4NcuxbZGsUZs9GhdZjsTSPF" class="btn btn-primary"><i class="fa fa-google"></i></a>
                <a href="magnet:?xt=urn:btih:d225a43f18923c2315310c923de4e1e7950a5dba&dn=%5BScrewThisNoise%5D%20Koikatu%21%20%2F%20Koikatsu%21%20%28%E3%82%B3%E3%82%A4%E3%82%AB%E3%83%84%EF%BC%81%29%20BetterRepack%20R9.3&tr=http%3A%2F%2Fsukebei.tracker.wf%3A8888%2Fannounce&tr=udp%3A%2F%2Fopen.stealth.si%3A80%2Fannounce&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337%2Fannounce&tr=udp%3A%2F%2Ftracker.coppersurfer.tk%3A6969%2Fannounce&tr=udp%3A%2F%2Fexodus.desync.com%3A6969%2Fannounce" class="btn btn-primary"><i class="fa fa-magnet"></i></a>
              </th>
              <th></th>
            </tr>
          </tbody>
        </table>
    </div>
    <!-- /.box-body -->
  </div>
    <!-- /.box -->
</section>
{% endblock %}


{% block script %}
<script src="{% static 'adminlet-2.4.10/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'adminlet-2.4.10/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>

<script>
    $(function () {
      $('#indexTable').DataTable({
        'paging'      : false,
        'lengthChange': true,
        'searching'   : true,
        'ordering'    : true,
        'info'        : false,
        'autoWidth'   : true
      })
    })
  </script>
{% endblock %}