{% extends 'base.html' %}
{% load static %}
{% block title %}茵悦薈{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'adminlet-2.4.10/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock %}

{% block breadcrumb %}
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        主頁
      </h1>
      <ol class="breadcrumb">
        <li class="active"><i class="fa fa-home"></i> 主頁</li>
      </ol>
    </section>
{% endblock %}

{% block content %}
{% endblock %}


{% block script %}
{% endblock %}