{% extends 'base.html' %}
{% load static %}
{% block title %}茵悦薈{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'adminlet-2.4.10/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock %}

{% block breadcrumb %}

<section class="content-header">
    <h1>
        交易紀錄
    </h1>
    <ol class="breadcrumb">
        <li><a href="/app/index"><i class="fa fa-home"></i>主頁</a></li>
        <li>報表結算</a></li>
        <li class="active">交易紀錄</li>
    </ol>
</section>
{% endblock %}

{% block content %}
<section class="content">
    <form role="form" method="POST">
        {% csrf_token %}
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">篩選條件</h3>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label>選擇報表</label>
                    <select name="selectSection" class="form-control">
                        <option value="">---</option>
                        <option value="saleReport">商品銷售銷售紀錄</option>
                        <option value="servReport">服務銷售紀錄</option>
                    </select>
                </div>
                <input type="submit" class="btn btn-primary pull-right" value="查詢" name="searchB">
            </div>
        </div>
    </form>
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">查詢結果</h3>
        </div>
        <div class="box-body">
            {% if select_section == 'saleReport' %}
            <table id="saleReportTable" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>銷售單號</th>
                    <th>銷售顧客</th>
                    <th>銷售日期</th>
                    <th>操作員工</th>
                    <th>銷售商品</th>
                    <th>銷售業務</th>
                    <th>總牌價</th>
                    <th>總售價</th>
                    <th>總計積</th>
                    <th>付款方式</th>
                    <th>銷售商店</th>
                    <th>收入類別</th>
                    <th>備註</th>
                </tr>
                </thead>
                <tbody>
                    {% for sale in sale_all %}
                    <tr>
                        <th>{{sale.sale_id}}</th>
                        <th>{{sale.sale_cus.cus_name}} {{sale.sale_cus.cus_id}}</th>
                        <th>{{sale.sale_date}}</th>
                        <th>{{sale.sale_person_in_charge}} {{sale.sale_person_in_charge.emp_id}}</th>
                        <th>
                            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#stockInfoModal">
                                查看
                            </button>
                            <div class="modal fade" id="stockInfoModal" tabindex="-1" role="dialog" aria-labelledby="selectStockModalTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title" id="exampleModalLongTitle">商品銷售清單</h2>
                                        </div>
                                        <div class="modal-body">
                                            <table id="stockModalTable" class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                    <th>銷售商品</th>
                                                    <th>商品編號</th>
                                                    <th>牌價</th>
                                                    <th>賣價</th>
                                                    <th>數量</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {% for st in sale.st_all %}
                                                <tr>
                                                    <th>{{st.salestock_stock.stock_name}}</th>
                                                    <th>{{st.salestock_stock.stock_id}}</th>
                                                    <th>{{st.salestock_stock.stock_price}}</th>
                                                    <th>{{st.salestock_price}}</th>
                                                    <th>{{st.salestock_amount}}</th>
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th>銷售商品</th>
                                                        <th>商品編號</th>
                                                        <th>牌價</th>
                                                        <th>賣價</th>
                                                        <th>數量</th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>        
                                    </div>
                                </div>
                            </div>
                        </th> 
                        <th>
                            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#empInfoModal">
                                查看
                            </button>
                            <div class="modal fade" id="empInfoModal" tabindex="-1" role="dialog" aria-labelledby="selectStockModalTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h2 class="modal-title" id="exampleModalLongTitle">商品銷售清單</h2>
                                        </div>
                                        <div class="modal-body">
                                            <table id="empModalTable" class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                    <th>銷售員工</th>
                                                    <th>分配比例</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                {% for sa in sale.sa_all %}
                                                <tr>
                                                    <th>{{sa.salealloc_emp.emp_name_ch}} {{sa.salealloc_emp.emp_id}}</th>
                                                    <th>{{sa.salealloc_perc}}</th>
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th>銷售員工</th>
                                                        <th>分配比例</th>

                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>        
                                    </div>
                                </div>
                            </div>
                        </th> 
                                          
                        <th>{{sale.sale_stock_price_total}}</th>
                        <th>{{sale.sale_price_total}}</th>
                        <th>{{sale.sale_point}}</th>
                        {% if sale.sale_pay == 'credit'%}
                        <th>信用卡</th>
                        {% elif sale.sale_pay == 'cash'%}
                        <th>現金</th>
                        {% endif %}
                        <th>{{sale.sale_shop}}</th>
                        {% if sale.sale_type == 'income_stock'%}
                        <th>商品銷售收入</th>
                        {% elif sale.sale_type == 'income_card'%}
                        <th>儲值卡收入</th>
                        {% elif sale.sale_type == 'income_head'%}
                        <th>頭皮護理收入</th>
                        {% elif sale.sale_type == 'income_hair'%}
                        <th>洗剪染燙收入</th>
                        {% endif %}
                        <th>{{sale.sale_remark}}</th>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>銷售單號</th>
                        <th>銷售顧客</th>
                        <th>銷售日期</th>
                        <th>操作員工</th>
                        <th>銷售商品</th>
                        <th>銷售業務</th>
                        <th>總牌價</th>
                        <th>總售價</th>
                        <th>總計積</th>
                        <th>付款方式</th>
                        <th>銷售商店</th>
                        <th>收入類別</th>
                        <th>備註</th>
                    </tr>
                </tfoot>
            </table>
            {% endif %}
            {% if select_section == 'servReport' %}
            <table id="servReportTable" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>服務單號</th>
                    <th>服務顧客</th>
                    <th>銷售單服務日期</th>
                    <th>服務名稱</th>
                    <th>專業操作</th>
                    <th>洗髮</th>
                    <th>吹整造型</th>
                    <th>牌價</th>
                    <th>售價</th>
                    <th>計積</th>
                    <th>付款方式</th>
                    <th>服務商店</th>
                    <th>收入類別</th>
                    <th>備註</th>
                </tr>
                </thead>
                <tbody>
                    {% for serv in serv_all %}
                    <tr>
                        <th>{{serv.serv_id}}</th>
                        <th>{{serv.serv_cus}} {{serv.serv_cus.cus_id}}</th>
                        <th>{{serv.serv_date}}</th>
                        <th>{{serv.serv_stock}}</th>
                        <th>{{serv.serv_emp1}} {{serv.serv_emp1.emp_id}}</th>
                        <th>{{serv.serv_emp2}} {{serv.serv_emp2.emp_id}}</th>
                        <th>{{serv.serv_emp3}} {{serv.serv_emp3.emp_id}}</th>
                        <th>{{serv.serv_stock_price}}</th>
                        <th>{{serv.serv_price}}</th>
                        <th>{{serv.serv_point}}</th>
                        {% if serv.serv_pay == 'credit'%}
                        <th>信用卡</th>
                        {% elif serv.serv_pay == 'cash'%}
                        <th>現金</th>
                        {% endif %}
                        <th>{{serv.serv_shop}}</th>
                        {% if serv.serv_type == 'income_stock'%}
                        <th>商品銷售收入</th>
                        {% elif serv.serv_type == 'income_card'%}
                        <th>儲值卡收入</th>
                        {% elif serv.serv_type == 'income_head'%}
                        <th>頭皮護理收入</th>
                        {% elif serv.serv_type == 'income_hair'%}
                        <th>洗剪染燙收入</th>
                        {% endif %}
                        <th>{{serv.serv_remark}}</th>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>服務單號</th>
                        <th>服務顧客</th>
                        <th>銷售單服務日期</th>
                        <th>服務名稱</th>
                        <th>專業操作</th>
                        <th>洗髮</th>
                        <th>吹整造型</th>
                        <th>牌價</th>
                        <th>售價</th>
                        <th>計積</th>
                        <th>付款方式</th>
                        <th>服務商店</th>
                        <th>收入類別</th>
                        <th>備註</th>
                        </tr>
                </tfoot>
            </table>
            {% endif %}
        </div>
    </div>
    
</section>
{% endblock %}


{% block script %}
<script src="{% static 'adminlet-2.4.10/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'adminlet-2.4.10/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>

<script>
    $(function () {
      $('#saleReportTable').DataTable({
        'paging'      : true,
        'lengthChange': true,
        'searching'   : true,
        'ordering'    : true,
        'info'        : false,
        'autoWidth'   : true
      })
      $('#servReportTable').DataTable({
        'paging'      : true,
        'lengthChange': true,
        'searching'   : true,
        'ordering'    : true,
        'info'        : false,
        'autoWidth'   : true
      })
      $('#stockModalTable').DataTable({
        'paging'      : true,
        'lengthChange': true,
        'searching'   : true,
        'ordering'    : true,
        'info'        : false,
        'autoWidth'   : true
      })
      $('#empModalTable').DataTable({
        'paging'      : true,
        'lengthChange': true,
        'searching'   : true,
        'ordering'    : true,
        'info'        : false,
        'autoWidth'   : true
      })
    })
  </script>
{% endblock %}