{% extends 'base.html' %}
{% load static %}
{% block title %}茵悦薈{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'adminlet-2.4.10/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock %}

{% block breadcrumb %}

<section class="content-header">
    <h1>
        交易紀錄
    </h1>
    <ol class="breadcrumb">
        <li><a href="/app/index"><i class="fa fa-home"></i>主頁</a></li>
        <li>報表結算</a></li>
        <li class="active">交易紀錄</li>
    </ol>
</section>
{% endblock %}

{% block content %}
<section class="content">
    <form role="form" method="POST">
        {% csrf_token %}
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">篩選條件</h3>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <label>選擇報表</label>
                    <select name="selectSection" class="form-control">
                        <option value="">---</option>
                        <option value="saleReport">商品銷售銷售紀錄</option>
                        <option value="servReport">服務銷售紀錄</option>
                    </select>
                </div>
                <input type="submit" class="btn btn-primary pull-right" value="查詢" name="searchB">
            </div>
        </div>
    </form>
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">查詢結果</h3>
        </div>
        <div class="box-body">
            {% if select_section == 'saleReport' %}
            <table id="saleReportTable" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>銷售單號</th>
                    <th>銷售顧客</th>
                    <th>銷售日期</th>
                    <th>操作員工</th>
                    <th>銷售商品</th>
                    <th>總牌價</th>
                    <th>總售價</th>
                    <th>總計積</th>
                    <th>付款方式</th>
                    <th>銷售商店</th>
                    <th>收入類別</th>
                    <th>備註</th>
                </tr>
                </thead>
                <tbody>
                    {% for sale in sale_all %}
                    <tr>
                        <th>{{sale.sale_id}}</th>
                        <th>{{sale.sale_cus}}</th>
                        <th>{{sale.sale_date}}</th>
                        <th>{{sale.sale_person_in_charge}}</th>
                        <th>查看</th>
                        <th>{{sale.sale_stock_price_total}}</th>
                        <th>{{sale.sale_price_total}}</th>
                        <th>{{sale.sale_point}}</th>
                        {% if sale.sale_pay == 'credit'%}
                        <th>信用卡</th>
                        {% elif sale.sale_pay == 'cash'%}
                        <th>現金</th>
                        {% endif %}
                        <th>{{sale.sale_shop}}</th>
                        {% if sale.sale_type == 'income_stock'%}
                        <th>商品銷售收入{{sale.sale_type}}</th>
                        {% elif sale.sale_type == 'income_card'%}
                        <th>儲值卡收入{{sale.sale_type}}</th>
                        {% elif sale.sale_type == 'income_head'%}
                        <th>頭皮護理收入{{sale.sale_type}}</th>
                        {% elif sale.sale_type == 'income_hair'%}
                        <th>洗剪染燙收入{{sale.sale_type}}</th>
                        {% endif %}
                        <th>{{sale.sale_remark}}</th>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>銷售單號</th>
                        <th>銷售顧客</th>
                        <th>銷售日期</th>
                        <th>操作員工</th>
                        <th>銷售商品</th>
                        <th>總牌價</th>
                        <th>總售價</th>
                        <th>總計積</th>
                        <th>付款方式</th>
                        <th>銷售商店</th>
                        <th>收入類別</th>
                        <th>備註</th>
                    </tr>
                </tfoot>
            </table>
            {% endif %}
            {% if select_section == 'servReport' %}
            <table id="servReportTable" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>服務單號</th>
                    <th>服務顧客</th>
                    <th>銷售單服務日期</th>
                    <th>操作員工</th>
                    <th>服務名稱</th>
                    <th>專業操作</th>
                    <th>洗髮</th>
                    <th>吹整造型</th>
                    <th>牌價</th>
                    <th>售價</th>
                    <th>計積</th>
                    <th>付款方式</th>
                    <th>服務商店</th>
                    <th>收入類別</th>
                    <th>備註</th>
                </tr>
                </thead>
                <tbody>
                    {% for serv in serv_all %}
                    <tr>
                        <th>{{serv.serv_id}}</th>
                        <th>{{serv.serv_cus}}</th>
                        <th>{{serv.serv_date}}</th>
                        <th>{{serv.serv_person_in_charge}}</th>
                        <th>{{serv.serv_stock}}</th>
                        <th>{{serv.serv_emp1}}</th>
                        <th>{{serv.serv_emp2}}</th>
                        <th>{{serv.serv_emp3}}</th>
                        <th>{{serv.serv_stock_price}}</th>
                        <th>{{serv.serv_price}}</th>
                        <th>{{serv.serv_point}}</th>
                        <th>{{serv.serv_pay}}</th>
                        <th>{{serv.serv_shop}}</th>
                        <th>{{serv.serv_type}}</th>
                        <th>{{serv.serv_remark}}</th>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>服務單號</th>
                        <th>服務顧客</th>
                        <th>銷售單服務日期</th>
                        <th>操作員工</th>
                        <th>服務名稱</th>
                        <th>專業操作</th>
                        <th>洗髮</th>
                        <th>吹整造型</th>
                        <th>牌價</th>
                        <th>售價</th>
                        <th>計積</th>
                        <th>付款方式</th>
                        <th>服務商店</th>
                        <th>收入類別</th>
                        <th>備註</th>
                        </tr>
                </tfoot>
            </table>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}


{% block script %}
<script src="{% static 'adminlet-2.4.10/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'adminlet-2.4.10/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>

<script>
    $(function () {
      $('#saleReportTable').DataTable({
        'paging'      : true,
        'lengthChange': true,
        'searching'   : true,
        'ordering'    : true,
        'info'        : false,
        'autoWidth'   : true
      })
      $('#servReportTable').DataTable({
        'paging'      : true,
        'lengthChange': true,
        'searching'   : true,
        'ordering'    : true,
        'info'        : false,
        'autoWidth'   : true
      })
    })
  </script>
{% endblock %}