{% extends 'base.html' %}
{% load static %}
{% block title %}茵悦薈{% endblock %}

{% block css %}
<link rel="stylesheet"
    href="{% static 'adminlet-2.4.10/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css' %}">
{% endblock %}

{% block breadcrumb %}

<section class="content-header">
    <h1>
        薪資獎金試算
    </h1>
    <ol class="breadcrumb">
        <li><a href="/app/index"><i class="fa fa-home"></i>主頁</a></li>
        <li>報表結算</a></li>
        <li class="active">薪資獎金試算</li>
    </ol>
</section>
{% endblock %}

{% block content %}
<section class="content">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">查詢結果</h3>
        </div>
        <div class="box-body">
            <table id="reportTable" class="table table-bordered table-striped table-sm" cellspacing="0" style="width:250%;
                max-width: 3000px;">
                <thead>
                    <tr>
                        <th>員工姓名</th>
                        <th>頭皮護理專業操作總收入</th>
                        <th>頭皮護理洗髮總收入</th>
                        <th>頭皮護理吹整造型總收入</th>
                        <th>洗剪染燙專業操作總收入</th>
                        <th>洗剪染燙洗髮總收入</th>
                        <th>洗剪染燙吹整造型總收入</th>
                        <th>商品銷售總收入</th>
                        <th>頭皮護理總收入</th>
                        <th>洗剪染燙總收入</th>
                        <th>商品銷售總計積</th>
                        <th>頭皮護理專業操作總計積</th>
                        <th>頭皮護理洗髮總計機</th>
                        <th>頭皮護理吹整造型總計積</th>
                        <th>洗剪染燙專業操作總計積</th>
                        <th>洗剪染燙洗髮總計機</th>
                        <th>洗剪染燙吹整造型總計積</th>
                        <th>商品收入提成結果</th>
                        <th>頭皮護理收入提成結果</th>
                        <th>洗剪染燙收入提成結果</th>
                        <th>員工底薪</th>
                        <th>計算結果</th>
                    </tr>
                </thead>
                <tbody>
                    {% for SR in SR_all %}
                    <tr>
                        <th>{{SR.SR_emp}}</th>
                        <th>{{SR.head_income_all_emp1}}</th>
                        <th>{{SR.head_income_all_emp2}}</th>
                        <th>{{SR.head_income_all_emp3}}</th>
                        <th>{{SR.hair_income_all_emp1}}</th>
                        <th>{{SR.hair_income_all_emp2}}</th>
                        <th>{{SR.hair_income_all_emp3}}</th>
                        <th>{{SR.stock_income_all}}</th>
                        <th>{{SR.head_income_all}}</th>
                        <th>{{SR.hair_income_all}}</th>
                        <th>{{SR.stock_point_all}}</th>
                        <th>{{SR.head_point_all_emp1}}</th>
                        <th>{{SR.head_point_all_emp2}}</th>
                        <th>{{SR.head_point_all_emp3}}</th>
                        <th>{{SR.hair_point_all_emp1}}</th>
                        <th>{{SR.hair_point_all_emp2}}</th>
                        <th>{{SR.hair_point_all_emp3}}</th>
                        <th>{{SR.stock_income_all_comm}}</th>
                        <th>{{SR.head_income_all_comm}}</th>
                        <th>{{SR.hair_income_all_comm}}</th>
                        <th>{{SR.salary}}</th>
                        <th>{{SR.SR_result}}</th>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>員工姓名</th>
                        <th>頭皮護理專業操作總收入</th>
                        <th>頭皮護理洗髮總收入</th>
                        <th>頭皮護理吹整造型總收入</th>
                        <th>洗剪染燙專業操作總收入</th>
                        <th>洗剪染燙洗髮總收入</th>
                        <th>洗剪染燙吹整造型總收入</th>
                        <th>商品銷售總收入</th>
                        <th>頭皮護理總收入</th>
                        <th>洗剪染燙總收入</th>
                        <th>商品銷售總計積</th>
                        <th>頭皮護理專業操作總計積</th>
                        <th>頭皮護理洗髮總計機</th>
                        <th>頭皮護理吹整造型總計積</th>
                        <th>洗剪染燙專業操作總計積</th>
                        <th>洗剪染燙洗髮總計機</th>
                        <th>洗剪染燙吹整造型總計積</th>
                        <th>商品收入提成結果</th>
                        <th>頭皮護理收入提成結果</th>
                        <th>洗剪染燙收入提成結果</th>
                        <th>員工底薪</th>
                        <th>計算結果</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</section>
{% endblock %}


{% block script %}
<script src="{% static 'adminlet-2.4.10/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'adminlet-2.4.10/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>

<script>
    $(function () {
        $('#reportTable').DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': true,
            'info': false,
            'autoWidth': true,
            "scrollX": true
        })
    })
</script>
{% endblock %}