{% extends 'base.html' %}
{% load static %}
{% block title %}茵悦薈{% endblock %}

{% block css %}{% endblock %}

{% block breadcrumb %}
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        商品銷售
      </h1>
      <ol class="breadcrumb">
        <li><a href="/app/index"><i class="fa fa-home"></i>主頁</a></li>
        <li>前台交易</a></li>
        <li class="active">商品銷售</li>
      </ol>
    </section>
{% endblock %}

{% block content %}
{% endblock %}


{% block script %}
{% endblock %}