{% extends 'base.html' %}
{% load static %}
{% block title %}茵悦薈 | 商品銷售{% endblock %}

{% block css %}

<link rel="stylesheet"
    href="{% static 'adminlet-2.4.10/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}">
{% endblock %}

{% block breadcrumb %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        繼續結帳
    </h1>

    <ol class="breadcrumb">
        <li><a href="/app/index"><i class="fa fa-home"></i>主頁</a></li>
        <li>前台交易</li>
        <li><a href="/app/sale">商品銷售</a></li>
        <li class="active">繼續結帳</li>
    </ol>
</section>

{% endblock %}

{% block content %}
<section class="content">
    <form role="form" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">付款資訊</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label>日期</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="datepicker1" name="sale_date">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>牌價總額</label>
                            <input type="text" class="form-control" name="sale_stock_price_total"
                                value="{{stock_price_total}}">
                        </div>
                        <div class="form-group">
                            <label>賣價總額</label>
                            <input type="text" class="form-control" name="sale_price_total"
                                value="{{sale_price_total}}">
                        </div>
                        <div class="form-group">
                            <label>訂單總計積</label>
                            <input type="text" class="form-control" name="sale_point"
                                value="{{sale_poin_total|default:'0' }}" required>
                        </div>
                        <div class="form-group">
                            <label>付款方式</label>
                            <select class="form-control" name="sale_pay" required>
                                <option value="">---</option>
                                <option value="credit">信用卡</option>
                                <option value="cash" selected>現金</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>收入類別</label>
                            <select class="form-control" name="sale_type" required>
                                <option value="">---</option>
                                <option value="income_sotck" selected>商品銷售收入</option>
                                <option value="income_card">儲值卡收入</option>
                                <option value="income_head">頭皮護理收入</option>
                                <option value="income_hair">洗剪染燙收入</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">其他資訊</h3>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label>備註</label>
                            <textarea type="text" class="form-control" name="sale_remark" row="5"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pull-right">
            <a class="btn btn-default" href="/app/addCus">重整</a>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                完成
            </button>
        </div>
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLongTitle">注意</h2>
                    </div>
                    <div class="modal-body">
                        確定儲存嗎?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">返回</button>
                        <input type="submit" class="btn btn-primary" name="saveB" value="儲存"></input>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
{% endblock %}


{% block script %}
<script
    src="{% static 'adminlet-2.4.10/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
<script
    src="{% static 'adminlet-2.4.10/bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-TW.min.js' %}"></script>




<script>
    $(function () {
        current_date = new Date();
        $('#datepicker1').datepicker({
            autoclose: true,
            language: "zh-TW"
        })
        $("#datepicker1").datepicker("setDate", current_date);
    })
</script>
{% endblock %}