{# 繼承模板 #}
{% extends 'base.html' %}
{% load static %}
{% block title %}Title{% endblock title %}


{% block css %}
{% endblock css %}


{% block breadcrumb %}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        營業額試算
    </h1>
    <ol class="breadcrumb">
        <li><a href="/app/index"><i class="fa fa-home"></i>主頁</a></li>
        <li>報表結算</a></li>
        <li class="active">庫存清算</li>
    </ol>
</section>
{% endblock breadcrumb %}


{% block content %}
{% endblock content %}


{% block script %}
{% endblock script %}